.todoItem{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background: white;
	margin-bottom: 1.5rem;
	border-radius: 4px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    

	
}
.todoItem:last-child {
		margin-bottom: 0; 
        /* set last item margin buttom none */
	}

.todoDetails{
    display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;

}

.text{
    display: flex;
	flex-direction: column;
	overflow: hidden;
}



.time{
    display: block;
	font-size: 13px;
	font-weight: 300;
	margin-top: -0.2rem;
	color: black;
}

.actions{
    display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}