.Todo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

.form_cls{
    background-color: whitesmoke;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 28px;
    border-radius: 8px;
}
input{
    width: 701px;
    font-size: 18px;
    border: none;
    background-color: whitesmoke;

}

input:focus{
    outline: none;
}

button{
    height: 30px;
    margin-left: 25px;
    border: none;
    background-color: rgb(1, 90, 149);
    color: #fff;
    border-radius:8px ;
}


