.Todo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

.form_cls{
    background-color: whitesmoke;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 28px;
}
input{
    width: 700px;
    font-size: 18px;
    border: none;
    background-color: whitesmoke;

}

input:focus{
    outline: none;
}



