.Todo >h1{
  text-align: center;
}

.buttons{
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.buttons > button{
    width: 100px;
    height:40px;
    font-size:15px;
    font-weight:600;
    background-color: rgb(113, 72, 248);
    color:white;
    border: none;
    
}