.model{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: rgb(210, 210, 210);
	max-width: 500px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	border-radius: 8px;
	position: relative;
}

.close_button{
	position: absolute;
	top: -10px;
	right: 0;
	transform: translateY(-100%);
	font-size: 2.5rem;
	padding: 0.5rem;
	border-radius: 4px;
	background-color: lightgray;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s ease all;
	z-index: -1;
	
}

.close_button:hover {
		background-color: #e32525;
		color: white;
	}
 
form > .title{
	color: black;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: capitalize;
    display: flex;
    flex-direction: column;
}  
.title>.title_input{
    font-size: 14px;
    width: 480px;
}
.sel_status{
    font-size: 20px;
	font-weight: 600;

}
.sel_status > .status{
    font-size: 14px;
    width: 510px;
}


form{
	width: 100%;
}
form >h1{
	text-align: center;
}

form > button{
	padding: 15px;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	margin:5px;
}

.add{
	background-color: rgb(82, 136, 0);
	color: white;
}
.add:hover{
	background-color: rgb(173, 240, 71);
	transition: 0.8s ease-in-out;
	color: black;
}

.remove{
	background-color: rgb(214, 62, 2);
	color: white;
}

.remove:hover{
	background-color: rgb(215, 78, 23);
	transition: 0.8s ease-in-out;
	color: black;
}


input,select {
			margin-top: 0.3rem;
			margin-bottom: 1.5rem;
			width: 100%;
			padding: 1rem;
			border: none;
			background-color: white;
			font-size: 1.3rem;
			border-radius: 8px;
}